<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .tab button.active {
            background: yellow;
        }
    </style>
</head>
<body>
    
    <div id="app">

        <!-- 组件内部value修改了并不会影响a，如果我们希望value修改能够同时更新a，就需要去监听组件对应的事件，然后手动更新a值 -->
        <input type="text" :value="a" @input="changea" />{{a}}
        <hr />
        <!-- 通过v-model把a与input的value进行双向绑定，好处不需要手动监听和处理 -->
        <input type="text" v-model="a" />{{a}}
        <hr />

        <!-- 通过v-model把active1与tab组件的active属性进行双向绑定 -->
        <tab :datas="tab1" v-model="active1"></tab>
        <button @click="getActive1">获取当前选项的选项</button>
        <p>当前选项tab1的选项是：{{active1}}</p>

    </div>

    <script src="js/vue.js"></script>
    <script>

        Vue.component('tab', {
            // model选项就是用来设置组件的v-model所绑定的prop与事件名称
            model: {
                prop: 'active',
                event: 'zmouse'
            },
            props: ['datas', 'active'],
            data() {
                return {
                    
                }
            },
            template: `
                <div class="tab">
                    <button 
                        v-for="title,index in datas.titles"
                        :class="{active: index == active}"
                        @click="toggle(index)"
                    >
                        {{title}}
                    </button>

                    <p 
                        v-for="content,index in datas.contents"
                        v-show="index == active"
                    >
                        {{content}}
                    </p>
                </div>
            `,
            methods: {
                toggle(index) {
                    // this.active = index;
                    // 通知外部zmouse事件，然后传入一个值
                    // 这个传入的值index，会自动的去修改model指定的prop的值
                    this.$emit('zmouse', index);
                }
            }
        });
    
        new Vue({
            el: '#app',
            data: {
                a: 1,
                active1: 0,
                active2: 1,
                tab1: {
                    titles: [
                        '选项一',
                        '选项二',
                        '选项三'
                    ],
                    contents: [
                        '内容一',
                        '内容二',
                        '内容三'
                    ]
                }
            },
            methods: {
                getActive1() {
                    console.log(this.active1);
                },
                // fn(v) {
                //     this.active1 = v;
                // },
                changea(e) {
                    this.a = Number(e.target.value);
                }
            }
        });

    </script>

</body>
</html>