<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
</head>
<body>
    
    <div class="main">
        <ul class="singer_list">
            {%for item in data%}
            <li class="singer_list_item">
                <div class="singer_list_item_box">
                    <a href="">
                        <img src="https://y.gtimg.cn/music/photo_new/T001R150x150M000001fNHEf1SFEFN.jpg?max_age=2592000" />
                    </a>
                    <h3>
                        <a href="">{{item.username}}</a>
                    </h3>
                </div>
            </li>
            {%endfor%}
        </ul>

        <div class="pages">
            <a href="" class="prev"> &lt; </a>
            <a class="current">1</strong>
            <a href="" class="page">2</a>
            <a href="" class="page">3</a>
            <a href="" class="page">4</a>
            <a href="" class="next"> &gt; </a>
        </div>
    </div>

</body>
</html>